<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- 
      Line below removes Background Location permission added by one of the SDKs. Permission
      in unnecessary for app functionality and it was causing issues during app reviews.
    -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
                     tools:node="remove" />

    <!--
      Line below stops conflict with libraries adding permissions for ACCESS_COARSE_LOCATION 
      and ACCESS_FINE_LOCATION using different "maxSdkVersions".
      -->
    <uses-permission-sdk-23 tools:node="removeAll" />

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" android:exported="false" />
    </application>
</manifest>
